<div class="countdown-container">
  <h1 #titleElement>Time to {{ eventTitle }}</h1>
  <p #countdownElement>{{ countdownText }}</p>
  <div class="form-container">
    <div class="input-wrapper">
      <label for="eventTitle">Title</label>
      <input
        id="eventTitle"
        #titleInput
        type="text"
        [(ngModel)]="tempEventTitle"
        (blur)="updateTitleAndCountdown()"
        (keydown.enter)="updateTitleAndCountdown()"
        maxlength="30"
        placeholder="Enter event title"
      />
    </div>
    <div class="input-wrapper">
      <label for="eventDate">Date</label>
       <!-- ngModel Purpose: To bind the value of an HTML form element to a 
        component property and keep them in sync. Two-Way Data Binding:
         Allows for automatic synchronization between the view (HTML) and the model 
         (component property). By using ngModel, you can easily manage form inputs 
         and keep your component properties updated with the latest user input.-->
      <input
        id="eventDate"
        #dateInput
        type="date" 
        [(ngModel)]="tempEventDate"
        (blur)="updateTitleAndCountdown()"
        (keydown.enter)="updateTitleAndCountdown()"
        placeholder="YYYY-MM-DD"
      />
    </div>
  </div>
</div>
