/* Make the countdown container take full screen height & center everything */
.countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  padding: 3vh 20px;
  box-sizing: border-box;
  background-color: #f5f3f3;
  overflow: hidden; /* Prevents vertical scrolling */
  font-family: 'Arial', sans-serif;
}

/* Title styling */
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-bottom: 1vh;
  color: #72035d;
}

/* Countdown styling */
p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  color: black;
  margin-bottom: 1vh;
}

h1,
p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3;
  width: 100%;
  font-family: 'Arial', sans-serif;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
  width: 90%;
  max-width: 800px;
  justify-content: center;
  margin-bottom: 3vh;
  margin-top: 10vh;
}

input {
  font-size: 1rem;
  padding: 18px;
  border: 2px solid #757575;
  border-radius: 5px;
  text-align: left;
  width: 100%;
  background-color: #f5f3f3;
  font-family: 'Arial', sans-serif;
}

.input-wrapper {
  position: relative;
  width: 100%;
  min-width: 100px;
  max-width: 350px;
}

.input-wrapper label {
  position: absolute;
  top: -0.8vh;
  left: 1.2vh;
  background: #f5f3f3;
  padding: 0 6px;
  font-size: 1rem;
  color: black;
  transition: all 0.2s ease-in-out;
  font-family: 'Arial', sans-serif;
}

/* Responsive adjustments for medium sized screens */
@media (max-width: 911px) {
  .form-container {
    max-width: 700px;
  }

  .input-wrapper {
    max-width: 300px;
  }

  .input-wrapper label {
    top: -0.5vh;
  }
}

/* Responsive adjustments for smaller screens (Portrait Mode) */
@media (max-width: 800px) {
  .countdown-container {
    padding: 4vh 20px;
    justify-content: flex-start;
  }

  h1,
  p {
    width: 90vw;
    margin: 0 auto;
    padding: 0;
  }

  h1 {
    padding-top: 12.5vh;
    margin-bottom: 5.5vh;
  }

  p {
    padding-top: 3vh;
    margin-bottom: 10.5vh;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6vh;
    width: 90%;
    max-width: 400px;
    margin-top: 8vh;
  }

  .input-wrapper {
    width: 85%;
    max-width: 85%;
  }

  .input-wrapper label {
    font-size: 1rem;
    top: -0.8vh;
    left: 1vh;
  }

  input {
    font-size: 1rem;
    padding: 1.3vh;
    max-width: 90%;
  }
}
